In [2]:
import pandas as pd

In [61]:
# Cargar el dataset
df = pd.read_csv('most_valuable_teams.csv', low_memory=False)

# Convertir el campo 'Age' a enteros
df['Age'] = df['Age'].round().astype(int)

In [62]:
# Función para convertir los valores del mercado en formato numérico
def convert_market_value(value):
    if 'bn' in value:
        return float(value.replace('€', '').replace('bn', '')) * 1000 
    elif 'm' in value:
        return float(value.replace('€', '').replace('m', ''))  
    else:
        return float(value.replace('€', ''))  

df['Market_value'] = df['Market_value'].apply(convert_market_value)

df['Market_value'].head()

0    1050.00
1     997.75
2     937.25
3     882.50
4     879.50
Name: Market_value, dtype: float64

In [63]:
# Función para convertir el valor de mercado de los jugadores en formato numérico
def convert_value(value):
    return float(value.replace('€', '').replace('m', ''))

df['Market_value_of_players'] = df['Market_value_of_players'].apply(convert_value)

# Verificar que los valores se han convertido correctamente
df['Market_value_of_players'].head()

0    45.75
1    28.51
2    33.47
3    32.69
4    32.57
Name: Market_value_of_players, dtype: float64

In [64]:
# Aplicar la función de limpieza a la columna 'MV_Top_18_players'
df['MV_Top_18_players'] = df['MV_Top_18_players'].apply(convert_value)

# Verificar que los valores se han convertido correctamente
df['MV_Top_18_players'].head()

0    988.0
1    889.0
2    850.0
3    816.0
4    810.5
Name: MV_Top_18_players, dtype: float64

In [65]:
# Función para convertir la columna de porcentajes a numérico
df['Share_of_MV'] = df['Share_of_MV'].str.replace('%', '').astype(float)

# Verificar que los porcentajes se han convertido correctamente
df['Share_of_MV'].head()

0    93.9
1    89.1
2    90.7
3    92.5
4    92.2
Name: Share_of_MV, dtype: float64

In [66]:
# Revisar la cantidad de valores nulos por columna
df.isnull().sum()

# Eliminar filas con valores nulos (si son pocos) o tomar alguna acción dependiendo de la columna
df.dropna(inplace=True)

# Verificar nuevamente la cantidad de valores nulos
df.isnull().sum()

Club                       0
Competition                0
Age                        0
Squad_size                 0
Market_value               0
Market_value_of_players    0
MV_Top_18_players          0
Share_of_MV                0
dtype: int64

In [77]:
# Guardar el dataset limpio
df.to_csv('most_valuable_teams_cleaned.csv', index=False)